%h1= swarm.name

%p Stick a paragrarph of text about this Swarm here.

%ul.nav.nav-tabs
  %li
    %a{:href => "/swarms/#{swarm.key}"} Live
  %li.active
    %a{:href => "/swarms/#{swarm.key}/data"} Data

%table.table
  %thead
    %tr
      %th Timestamp
      %th Postcode
      %th Intent
      %th Feedback
      %th IP
      %th User Key

  %tbody
    - for row in rows
      %tr
        %td= format_timestamp(row.timestamp)
        %td= row.postcode
        %td= row.intent
        %td= row.feedback
        %td= row.ip
        %td= row.user_key

%ul.pagination
  %li
    %a{:href => "#"} &laquo;

  - total_pages.times do |i|
    - if i+1 == current_page
      %li.active
        %span
          = i+1
          %span.sr-only (current)
    - else
      %li
        %a{:href => "?page=#{i+1}"}= i+1
  %li
    %a{:href => "#"} &raquo;
