%h1= swarm.name

%p Stick a paragrarph of text about this Swarm here.

- swarm.graphs.each_with_index do |graph, i|
  :javascript
    $(document).ready(function() {
      $.getJSON(window.location.href+'#{graph.url_fragment}', function(data) {
          var graph#{i+1} = $('#graph#{i+1}').epoch({ type: '#{graph.viz_type}', data: data });
        });
    });

.row
  - swarm.graphs.each_with_index do |graph, i|
    .col-md-6
      %h2= graph.title
      %div{:id => "graph#{i+1}", :class => "epoch", :style => "width:200px; height: 200px;"}

-#%ul.nav.nav-tabs
  -#%li
    -#%a{:href => "/swarms/#{swarm.key}"} Live
  -#%li.active
    -#%a{:href => "/swarms/#{swarm.key}/data"} Data

%table.table
  %thead
    %tr
      - for display_field in swarm.display_fields
        %th= display_field.display_name

  %tbody
    - for row in rows
      %tr
        - for display_field in swarm.display_fields
          - if display_field.formatter
            %td= send("format_#{display_field.formatter}", row.send(display_field.name))
          - else
            %td= row.send(display_field.name)

%ul.pagination
  %li
    %a{:href => "#"} &laquo;

  - total_pages.times do |i|
    - if i+1 == current_page
      %li.active
        %span
          = i+1
          %span.sr-only (current)
    - else
      %li
        %a{:href => "?page=#{i+1}"}= i+1
  %li
    %a{:href => "#"} &raquo;

%p
  %a{:href => "/"} Back home
