%h1= swarm.name

%p Stick a paragrarph of text about this Swarm here.

:javascript
  $(document).ready(function() {
    $.getJSON(window.location.href+'/graphs/count/feedback', function(data) {
      var feedbackChart = $('#feedback_pie').epoch({ type: 'pie', data: data });
    });
    $.getJSON(window.location.href+'/graphs/count/intent/user_key', function(data) {
     var feedbackChart = $('#intent_pie').epoch({ type: 'pie', data: data });
    });
  });

.row
  .col-md-6
    %h2 Aggregate feedback
    #feedback_pie{:class => "epoch", :style => "width:200px; height: 200px;"}
  .col-md-6
    %h2 Aggregate voting intent
    #intent_pie{:class => "epoch", :style => "width:200px; height: 200px;"}

-#%ul.nav.nav-tabs
  -#%li
    -#%a{:href => "/swarms/#{swarm.key}"} Live
  -#%li.active
    -#%a{:href => "/swarms/#{swarm.key}/data"} Data

%table.table
  %thead
    %tr
      - for display_field in swarm.display_fields
        %th= display_field.display_name

  %tbody
    - for row in rows
      %tr
        - for display_field in swarm.display_fields
          - if display_field.formatter
            %td= send("format_#{display_field.formatter}", row.send(display_field.name))
          - else
            %td= row.send(display_field.name)

%ul.pagination
  %li
    %a{:href => "#"} &laquo;

  - total_pages.times do |i|
    - if i+1 == current_page
      %li.active
        %span
          = i+1
          %span.sr-only (current)
    - else
      %li
        %a{:href => "?page=#{i+1}"}= i+1
  %li
    %a{:href => "#"} &raquo;

%p
  %a{:href => "/"} Back home
