:javascript
  function updateGraphData#{count+1}() {
    window.graphData#{count+1}.fetch();

    setTimeout(function() {
      updateGraphData#{count+1}();
    }, 5000);
  }

  $(document).ready(function() {
    window.graphData#{count+1} = new GraphData({url: '#{SwarmizeGraph.count_url(@swarm, graph.field, graph.options[:filter_field])}',
                                                graphType: 'pie',
                                                title: '#{graph.title}',
                                                index: #{count+1}});


    window.graph#{count+1} = new SwarmizePieGraph({model: window.graphData#{count+1}});

    updateGraphData#{count+1}();
  });
