:javascript
  function updateGraphData#{count+1}() {
    window.graphData#{count+1}.fetch();


    setTimeout(function() {
      updateGraphData#{count+1}();
    }, 5000);
  }

  $(document).ready(function() {
    window.graphData#{count+1} = new GraphData({
                                    url: '#{graph.data_url(graph.field)}',
                                    graphType: 'timeseries',
                                    title: '#{graph.title}',
                                    index: #{count+1}});

    window.graph#{count+1} = new SwarmizeTimeSeriesGraph({model: window.graphData#{count+1}});

    updateGraphData#{count+1}();
  });
