- content_for :pagetitle do
  Edit '#{@graph.title}' : Graphs for #{@swarm.name} : 

.page-header.swarmize-header
  %h1 Edit graph '#{@graph.title}' for #{@swarm.name}

- if @graphable_fields && @graphable_fields.any?
  = form_for [@swarm, @graph], :html => {:class => "form-horizontal"} do |f|
    .form-group
      %label.col-sm-3.control-label Graph title
      .col-sm-6
        = f.text_field :title, :class => 'form-control'
        %span.help-block This is the name of your graph

    .form-group
      %label.col-sm-3.control-label Graph type
      .col-sm-6
        = f.select :graph_type, [['Count', 'count'], ['Cardinal Count', 'cardinal_count']], {}, {:class => 'form-control'}

    .form-group
      %label.col-sm-3.control-label Field to graph
      .col-sm-6
        = f.select :field, @graphable_fields, {}, {:class => 'form-control'}

    .form-group
      %label.col-sm-3.control-label Field to filter by (optional)
      .col-sm-6
        = select_tag :filter_field, options_for_select(@filter_fields), :include_blank => true, :class => 'form-control'

    .form-group
      %label.col-sm-3.control-label Viz type
      .col-sm-6
        = f.select :viz_type, @graph_types, {}, {:class => 'form-control'}

    .form-group
      .col-sm-offset-3
        %p= f.submit "Update graph", :class => "btn btn-default"
        %p= link_to "Back to graphs for '#{@swarm.name}'", swarm_graphs_path(@swarm)

- else
  %p There are no graphable fields in this swarm.

