!!! 5
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title 
      =yield :pagetitle
      Swarmize
      
    = stylesheet_link_tag asset_path("bootstrap.min")
    = stylesheet_link_tag asset_path("bootstrap-theme.min")
    = stylesheet_link_tag "c3"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    = render "layouts/nav"

    .container
      = render "layouts/flashes"
      = yield

