!!! 5
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title Swarmize
    = stylesheet_link_tag "bootstrap.min"
    = stylesheet_link_tag "bootstrap-theme.min"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    .container
      = yield

