%h1 Admin tools


%ul.nav.nav-tabs
  %li.active= link_to "Fake Data", "#fake", "data-toggle" => 'tab'
  %li= link_to "Spiked swarms", "#spiked", "data-toggle" => 'tab'

.tab-content
  #fate.tab-pane.active
    %h2 Fake data

    %p= button_to "Clear out fake data, make fake swarms/users", dummy_up_admin_path, :class => "btn btn-default"
    %p= button_to "Clear out fake data", delete_dummy_admin_path, :class => "btn btn-default"
    %p= button_to "Create dummy users", create_dummy_users_admin_path, :class => "btn btn-default"
    %p= button_to "Create dummy swarms", create_dummy_swarms_admin_path, :class => "btn btn-default"

  #spiked.tab-pane
    %h2 Spiked swarms.
    = render :partial => "swarms/swarm_table", :locals => {:swarms => @spiked_swarms}
