- content_for :pagetitle do
  Admin : 

.page-header.swarmize-header
  %h1 Admin tools

%ul.nav.nav-tabs
  %li.active= link_to "Fake Data", "#fake", "data-toggle" => 'tab'
  %li= link_to "Deleted swarms", "#deleted", "data-toggle" => 'tab'
  %li= link_to "Tokens ", "#tokens", "data-toggle" => 'tab'

.tab-content
  #fake.tab-pane.active
    %h2 Fake data

    %p= button_to "Clear out fake data, make fake swarms/users", dummy_up_admin_path, :class => "btn btn-default"
    %p= button_to "Clear out fake data", delete_dummy_admin_path, :class => "btn btn-default"
    %p= button_to "Create dummy users", create_dummy_users_admin_path, :class => "btn btn-default"
    %p= button_to "Create dummy swarms", create_dummy_swarms_admin_path, :class => "btn btn-default"

  #deleted.tab-pane
    %h2 Deleted swarms.
    = render :partial => "swarms/swarm_table", :locals => {:swarms => @deleted_swarms}

  #tokens.tab-pane
    %h2 Tokens
    %p= button_to "Regenerate tokens", regenerate_tokens_admin_path, :class => "btn btn-default"
