#close-or-schedule.modal.fade{:tabindex => -1, :role => 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => 'modal'}
          %span{"aria-hidden" => true} &times;
          %span.sr-only Close
        %h4.modal-title Close Swarm
      .modal-body
        = form_tag close_swarm_path(@swarm), :id => "close-date-form" do 
          %p When does your swarm close?
          %p
            At
            - if @swarm.closes_at
              %select{:name => "close_hour"}
                - (00..23).each do |n|
                  %option{:value => n, :selected => (true if n == @swarm.closes_at.hour)}= "%.2d" % n
              \:
              %select{:name => "close_minute"}
                - (00..59).each do |n|
                  %option{:value => n, :selected => (true if n == @swarm.closes_at.min)}= "%.2d" % n
              on
              %select{:name => "close_month"}
                - (1..12).each do |n|
                  %option{:value => n, :selected => (true if n == @swarm.closes_at.month)}= Date::MONTHNAMES[n]

              %select{:name => "close_day"}
                - (1..31).each do |n|
                  %option{:value => n, :selected => (true if n == @swarm.closes_at.day)}= "%.2d" % n
              %select{:name => "close_year"}
                - [2014,2015,2016,2017].each do |n|
                  %option{:value => n, :selected => (true if n == @swarm.closes_at.year)}= n
            - else
              %select{:name => "close_hour"}
                - (00..23).each do |n|
                  %option{:value => n, :selected => (true if n == Time.now.hour)}= "%.2d" % n
              \:
              %select{:name => "close_minute"}
                - (00..59).each do |n|
                  %option{:value => n, :selected => (true if n == Time.now.min)}= "%.2d" % n
              on
              %select{:name => "close_month"}
                - (1..12).each do |n|
                  %option{:value => n, :selected => (true if n == Time.now.month)}= Date::MONTHNAMES[n]

              %select{:name => "close_day"}
                - (1..31).each do |n|
                  %option{:value => n, :selected => (true if n == Time.now.day)}= "%.2d" % n
              %select{:name => "close_year"}
                - [2014,2015,2016,2017].each do |n|
                  %option{:value => n, :selected => (true if n == Time.now.day)}= n
            = link_to "Set to now", "#", :id => "set-close-date-to-now", :class => "btn btn-primary btn-sm"

        %p <b>Once your swarm has closed it cannot be re-opened at a later date.</b>
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => 'modal'} Cancel
        %button#close-submit.btn.btn-primary Save changes
