#open-or-schedule.modal.fade{:tabindex => -1, :role => 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => 'modal'}
          %span{"aria-hidden" => true} &times;
          %span.sr-only Close
        %h4.modal-title Open Swarm
      .modal-body
        = form_tag open_swarm_path(@swarm), :id => "open-date-form" do 
          %p When does your swarm open?
          %p
            At
            - if @swarm.opens_at
              %select{:name => "open_hour"}
                - (00..23).each do |n|
                  %option{:value => n, :selected => (true if n == @swarm.opens_at.hour)}= "%.2d" % n
              \:
              %select{:name => "open_minute"}
                - (00..59).each do |n|
                  %option{:value => n, :selected => (true if n == @swarm.opens_at.min)}= "%.2d" % n
              on
              %select{:name => "open_month"}
                - (1..12).each do |n|
                  %option{:value => n, :selected => (true if n == @swarm.opens_at.month)}= Date::MONTHNAMES[n]

              %select{:name => "open_day"}
                - (1..31).each do |n|
                  %option{:value => n, :selected => (true if n == @swarm.opens_at.day)}= "%.2d" % n
              %select{:name => "open_year"}
                - [2014,2015,2016,2017].each do |n|
                  %option{:value => n, :selected => (true if n == @swarm.opens_at.year)}= n
            - else
              %select{:name => "open_hour"}
                - (00..23).each do |n|
                  %option{:value => n, :selected => (true if n == Time.zone.now.hour)}= "%.2d" % n
              \:
              %select{:name => "open_minute"}
                - (00..59).each do |n|
                  %option{:value => n, :selected => (true if n == Time.zone.now.min)}= "%.2d" % n
              on
              %select{:name => "open_month"}
                - (1..12).each do |n|
                  %option{:value => n, :selected => (true if n == Time.zone.now.month)}= Date::MONTHNAMES[n]

              %select{:name => "open_day"}
                - (1..31).each do |n|
                  %option{:value => n, :selected => (true if n == Time.zone.now.day)}= "%.2d" % n
              %select{:name => "open_year"}
                - [2014,2015,2016,2017].each do |n|
                  %option{:value => n, :selected => (true if n == Time.zone.now.day)}= n
            = link_to "Set to now", "#", :id => "set-open-date-to-now", :class => "btn btn-primary btn-sm"

        %p <b>Once your swarm has opened it cannot be closed and re-opened at a later date</b> - so make sure you're happy with your fields!
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => 'modal'} Cancel
        %button#open-submit.btn.btn-primary Save changes
