-#- @swarm.graphs.each_with_index do |graph, i|
  -#:javascript
    $(document).ready(function() {
      $.getJSON(window.location.pathname+'#{graph.url_fragment}', function(data) {
          var graph#{i+1} = $('#graph#{i+1}').epoch({ type: '#{graph.viz_type}', data: data });
        });
    });

-#.row
  - @swarm.graphs.each_with_index do |graph, i|
    .col-md-6
      %h2= graph.title
      %div{:id => "graph#{i+1}", :class => "epoch", :style => "width:200px; height: 200px;"}

%table.table
  %thead
    %tr
      %th Timestamp
      - for field in @swarm.fields
        %th= field['field_name']

  %tbody
    - for row in @rows
      %tr
        %td= format_timestamp(row.timestamp)
        - for field in @swarm.fields
          %td= row.send field['field_name'].parameterize.underscore

%ul.pagination
  - if @current_page > 1
    %li
      %a{:href => "?page=#{@current_page - 1}"} &laquo;
  - else
    %li.disabled
      %span &laquo;

  - @total_pages.times do |i|
    - if i+1 == @current_page
      %li.active
        %span
          = i+1
          %span.sr-only (current)
    - else
      %li
        %a{:href => "?page=#{i+1}"}= i+1
  - if @current_page < @total_pages
    %li
      %a{:href => "?page=#{@current_page + 1}"} &raquo;
  - else
    %li.disabled
      %span &raquo;
