%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Token
      %th Created by
      %th Opens At
      %th Closes At
      %th Actions

  %tbody
    - if swarms && swarms.any?
      - for swarm in swarms
        %tr
          %td= link_to swarm.name, swarm
          %td= swarm.description
          %td= swarm.token
          %td= link_to swarm.user.name, user_path(swarm.user) if swarm.user
          %td= swarm.opens_at
          %td= swarm.closes_at
          %td
            - if swarm.user == @current_user
              = link_to "Delete", delete_swarm_path(swarm)
              |
            = link_to "JSON", swarm_path(swarm, :format => 'json')

