%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Created by
      %th Opens At
      %th Closes At

  %tbody
    - if swarms && swarms.any?
      - for swarm in swarms
        %tr
          %td= link_to swarm.name, swarm
          %td= swarm.description
          %td= link_to swarm.creator.name, user_path(swarm.creator) if swarm.creator
          %td= swarm.opens_at
          %td= swarm.closes_at
