%table.table
  %thead
    %tr
      %th Timestamp
      - for field in @swarm.swarm_fields
        %th= field.field_name
        - if field.derived_field_suffixes
          - field.derived_field_suffixes.each do |df|
            %th= "#{field.field_name} [#{df}]"
          

  %tbody
    - for row in @rows
      %tr
        %td= format_timestamp(row.timestamp)
        - for field in @swarm.swarm_fields
          %td= row.send field.field_code
          - if field.derived_field_codes
            - field.derived_field_codes.each do |df|
              %td= row.send df

%ul.pagination
  - if @current_page > 1
    %li
      %a{:href => "?page=#{@current_page - 1}"} &laquo;
  - else
    %li.disabled
      %span &laquo;

  - @total_pages.times do |i|
    - if i+1 == @current_page
      %li.active
        %span
          = i+1
          %span.sr-only (current)
    - else
      %li
        %a{:href => "?page=#{i+1}"}= i+1
  - if @current_page < @total_pages
    %li
      %a{:href => "?page=#{@current_page + 1}"} &raquo;
  - else
    %li.disabled
      %span &raquo;
