%h2 Graphs

- @swarm.graphs.each_with_index do |graph, i|
  :javascript
    $(document).ready(function() {
      $("#graphs").append("<div class='graph-container' id='graph-container#{i+1}'></div>");
      $("#graph-container#{i+1}").append("<h3>#{graph.title}</h3>");
      $("#graph-container#{i+1}").append("<div class='g' id='graph#{i+1}'></div>");
      $.getJSON('#{SwarmizeGraph.count_url(@swarm, graph.field, graph.options[:filter_field])}', function(data) {
        var chart#{i+1} = c3.generate({
          bindto: '#graph#{i+1}',
          data: {
            json: data,
            type: 'pie'
          }
        });
      });
    });

#graphs

.clearfix

