.dropdown.actions-dropdown
  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"} 
    Actions
    %span.caret
  %ul.dropdown-menu.dropdown-menu-right
    %li
      = link_to "<span class='glyphicon glyphicon-retweet'></span> Clone".html_safe, clone_swarm_path(@swarm), :method => :post
      %li.divider
    - if AccessPermission.can_alter?(@swarm, @current_user) && !@swarm.closed?
      %li
        %a{:href => edit_swarm_path(@swarm)}
          = glyphicon('pencil')
          Edit 

    - if AccessPermission.can_alter?(@swarm, @current_user) 
      %li
        %a{:href => code_swarm_path(@swarm)}
          = glyphicon('th-list')
          Get Code
      %li
        %a{:href => swarm_api_tokens_path(@swarm)}
          = glyphicon('tag')
          API Tokens
    %li
      %a{:href => swarm_permissions_path(@swarm)}
        = glyphicon('user')
        Permissions
    - if AccessPermission.can_destroy?(@swarm, @current_user)
      %li.divider
      %li
        %a{:href => delete_swarm_path(@swarm)}
          = glyphicon('remove')
          Delete

