.row
  .col-sm-6
    .desc= simple_format @swarm.description
  .col-sm-6
    .row
      .col-sm-6
        - if @swarm.has_opened?
          %h3 Opened at 
          %h4
            = format_swarm_date(@swarm.opens_at)
            %br
            = format_swarm_time(@swarm.opens_at)
      .col-sm-6
        - if @swarm.closed?
          %h3 Closed at 
          %h4
            = format_swarm_date(@swarm.closes_at)
            %br
            = format_swarm_time(@swarm.closes_at)
