%h2 Graphs

- @swarm.graphs.each_with_index do |graph, i|
  :javascript
    $(document).ready(function() {
      $.getJSON('#{SwarmizeGraph.count_url(@swarm, graph.field, graph.options[:filter_field])}', function(data) {
        $("#graphs").append("<div class='graph-container' id='graph-container#{i+1}'></div>");
        $("#graph-container#{i+1}").append("<h3>#{graph.title}</h3>");
        $("#graph-container#{i+1}").append("<div class='epoch' id='graph#{i+1}'></div>");
        $('#graph#{i+1}').epoch({ type: 'pie', data: data });
      });
    });

#graphs

.clearfix

