.row.swarm-header
  .col-sm-9
    %h1
      = @swarm.name
      - if @swarm.live?
        %span.label.label-success.swarmlive Live!
    .subheader
      Created by
      = link_to @swarm.user.name, user_path(@swarm.user)
      - if @current_user
        |
        = link_to "View Form", embed_swarm_path(@swarm)
        |
        = link_to "Get code", code_swarm_path(@swarm)
      - if @swarm.parent_swarm
        %small
          [Cloned from #{link_to @swarm.parent_swarm.name, swarm_path(@swarm.parent_swarm)}]
  .col-sm-3.swarm-controls
    - if @current_user
      .button
        - if @swarm.can_be_spiked_by?(@current_user)
          = link_to "Spike", spike_swarm_path(@swarm), :class => "btn btn-danger btn-sm"
      .button
        = button_to "Clone", clone_swarm_path(@swarm), :class => "btn btn-warning btn-sm"
      - if @swarm.can_be_edited_by?(@current_user)
        .button
          = link_to "Edit", edit_swarm_path(@swarm), :class => "btn btn-success btn-sm"

