%p
  %span.huge-number= @total_count
  submissions to this swarm to date.

%h3 Latest Results

%table.table#results_table
  %thead
    %tr
      %th Timestamp
      - for field in @swarm.swarm_fields
        %th= field.field_name
        - if field.derived_field_suffixes
          - field.derived_field_suffixes.each do |df|
            %th= "#{field.field_name} [#{df}]"
  %tbody
    - for row in @rows
      %tr
        %td= format_timestamp(row.timestamp)
        - for field in @swarm.swarm_fields
          - if @current_user || !field.redacted?
            %td= row.send field.field_code
            - if field.derived_field_codes
              - field.derived_field_codes.each do |df|
                %td= row.send df
          - else
            %td Redacted
            - if field.derived_field_codes
              - field.derived_field_codes.each do |df|
                %td Redacted

- if @current_user && (@swarm.live? || @swarm.draft?)
  :javascript
    function updateResultsData() {
      $.getJSON('#{latest_swarm_path(@swarm, format:'json')}', function(updateData) {
        window.resultsData.set('rows', updateData);
      });

      $.getJSON('#{entrycount_swarm_path(@swarm, format:'json')}', function(updateData) {
        window.resultsData.set('count', updateData);
      });
      setTimeout(function() {
        updateResultsData();
      }, 5000);
    }

    $(document).ready(function() {
      window.resultsData = new ResultsData;

      window.resultsData.set('fieldCodes', #{@swarm.field_codes});

      window.resultsTable = new ResultsTable({model: window.resultsData});

      updateResultsData();
    });
