:javascript
  $(document).ready(function() {
    $("#swarm_ready_true").click(function() {
      $('.swarm-timings').slideDown();
    });

    $("#swarm_ready_false").click(function() {
      $('.swarm-timings').slideUp();
    });

    if($("#swarm_ready").length < 1) {
      $(".swarm-timings").hide();
    }
  });

%h1 Commission Swarm '#{@swarm.name}'

%ul.nav.nav-tabs.swarmbuilder-nav.nav-justified
  %li= link_to "Swarm Details", edit_swarm_path(@swarm)
  %li= link_to "Swarm Fields", fields_swarm_path(@swarm)
  %li= link_to "Preview Swarm", preview_swarm_path(@swarm)
  %li.active= link_to "Commission Swarm", commission_swarm_path(@swarm)

%p Your Swarm is almost ready to go.

%p The last thing to do is set it live.

%p Once a Swarm is live, it will accept data via forms and API-based inputs. It will also be public on Swarmize. You might not want to make it public just yet.

= form_tag do_commission_swarm_path(@swarm) do 
  .form_group{:id => ('swarm_ready' if @swarm.ready?)}
    %label Is your swarm ready to go?
    .radio
      %label
        = radio_button_tag "swarm_ready", false, !@swarm.ready?
        No, not yet, just save it for now.
    .radio
      %label
        = radio_button_tag "swarm_ready", true, @swarm.ready?
        Yes.

  .swarm-timings
    .form_group
      %label When does it open?
      .radio
        %label
          = radio_button_tag "swarm_opens_now", true, @swarm.opens_now?
          Now!
      .radio
        %label
          = radio_button_tag "swarm_opens_now", false, @swarm.opens_at
          At
          - if @swarm.opens_at
            %select{:name => "open_hour"}
              - (00..23).each do |n|
                %option{:value => n, :selected => (true if n == @swarm.opens_at.hour)}= "%.2d" % n
            \:
            %select{:name => "open_minute"}
              - (00..59).each do |n|
                %option{:value => n, :selected => (true if n == @swarm.opens_at.min)}= "%.2d" % n
            GMT
            on
            %select{:name => "open_month"}
              - (1..12).each do |n|
                %option{:value => n, :selected => (true if n == @swarm.opens_at.month)}= Date::MONTHNAMES[n]

            %select{:name => "open_day"}
              - (1..31).each do |n|
                %option{:value => n, :selected => (true if n == @swarm.opens_at.day)}= "%.2d" % n
            %select{:name => "open_year"}
              - [2014,2015,2016,2017].each do |n|
                %option{:value => n, :selected => (true if n == Time.now.day)}= n
          - else
            %select{:name => "open_hour"}
              - (00..23).each do |n|
                %option{:value => n, :selected => (true if n == Time.now.hour)}= "%.2d" % n
            \:
            %select{:name => "open_minute"}
              - (00..59).each do |n|
                %option{:value => n, :selected => (true if n == Time.now.min)}= "%.2d" % n
            GMT
            on
            %select{:name => "open_month"}
              - (1..12).each do |n|
                %option{:value => n, :selected => (true if n == Time.now.month)}= Date::MONTHNAMES[n]

            %select{:name => "open_day"}
              - (1..31).each do |n|
                %option{:value => n, :selected => (true if n == Time.now.day)}= "%.2d" % n
            %select{:name => "open_year"}
              - [2014,2015,2016,2017].each do |n|
                %option{:value => n, :selected => (true if n == Time.now.day)}= n


    .form_group
      %label When does it close?
      .radio
        %label
          = radio_button_tag "swarm_closes_manually", true, @swarm.closes_manually?
          I'll close it manually.
      .radio
        %label
          = radio_button_tag "swarm_closes_manually", false, @swarm.closes_at
          At
          - if @swarm.closes_at
            %select{:name => "close_hour"}
              - (00..23).each do |n|
                %option{:value => n, :selected => (true if n == @swarm.closes_at.hour)}= "%.2d" % n
            \:
            %select{:name => "close_minute"}
              - (00..59).each do |n|
                %option{:value => n, :selected => (true if n == @swarm.closes_at.min)}= "%.2d" % n
            GMT
            on
            %select{:name => "close_month"}
              - (1..12).each do |n|
                %option{:value => n, :selected => (true if n == @swarm.closes_at.month)}= Date::MONTHNAMES[n]

            %select{:name => "close_day"}
              - (1..31).each do |n|
                %option{:value => n, :selected => (true if n == @swarm.closes_at.day)}= "%.2d" % n
            %select{:name => "close_year"}
              - [2014,2015,2016,2017].each do |n|
                %option{:value => n, :selected => (true if n == @swarm.closes_at.day)}= n
          - else
            %select{:name => "close_hour"}
              - (00..23).each do |n|
                %option{:value => n, :selected => (true if n == Time.now.hour)}= "%.2d" % n
            \:
            %select{:name => "close_minute"}
              - (00..59).each do |n|
                %option{:value => n, :selected => (true if n == Time.now.min)}= "%.2d" % n
            GMT
            on
            %select{:name => "close_month"}
              - (1..12).each do |n|
                %option{:value => n, :selected => (true if n == Time.now.month)}= Date::MONTHNAMES[n]

            %select{:name => "close_day"}
              - (1..31).each do |n|
                %option{:value => n, :selected => (true if n == Time.now.day)}= "%.2d" % n
            %select{:name => "close_year"}
              - [2014,2015,2016,2017].each do |n|
                %option{:value => n, :selected => (true if n == Time.now.day)}= n
        
  %p
    = link_to "&larr; Back to Preview".html_safe, preview_swarm_path(@swarm), :class => "btn btn-default"
    = submit_tag "Save Swarm", :class => "btn btn-default"
