- content_for :pagetitle do
  Yet To Open : Swarms : 

%h1 Explore Swarms

%ul.nav.nav-tabs
  %li
    %a{:href => swarms_path}
      All Swarms
      %span.badge= @all_swarms_count
  %li.active
    %a{:href => draft_swarms_path}
      Draft
      %span.badge= @open_swarms_count
  %li
    %a{:href => live_swarms_path}
      In Progress
      %span.badge= @live_swarms_count
  %li
    %a{:href => closed_swarms_path}
      Closed
      %span.badge= @closed_swarms_count

= render :partial => "swarms/swarm_table", :locals => {:swarms => @swarms}

= will_paginate @swarms

- if @current_user
  %p= link_to "New swarm", new_swarm_path
