- content_for :pagetitle do
  Edit '#{@swarm.name}' : Swarms : 

.page-header.swarmize-header
  %h1 Edit Swarm '#{@swarm.name}'
  %p= link_to "Back to swarm", @swarm

%ul.nav.nav-tabs.swarmbuilder-nav.nav-justified
  %li.active
    %a{:href => edit_swarm_path(@swarm)}
      = glyphicon('pencil')
      Swarm Details
  %li
    %a{:href => fields_swarm_path(@swarm)}
      = glyphicon('list')
      Swarm Fields
  %li
    %a{:href => preview_swarm_path(@swarm)}
      = glyphicon('list-alt')
      Preview Swarm

= form_for @swarm, :html => {:class => "form-horizontal"} do |f|
  .form-group
    %label.col-sm-3.control-label Swarm name
    .col-sm-6
      = f.text_field :name, :class => 'form-control'
      %span.help-block This is the public name your swarm will be known by. This will be used across Swarmize.com, even if you don't display it with the input for your Swarm.

  .form-group
    %label.col-sm-3.control-label Swarm description
    .col-sm-6
      = f.text_area :description, :class => 'form-control'
      %span.help-block A short description of your Swarm. This will be used across Swarmize.com, even if you don't display it with the input for your Swarm.

  .form-group
    .col-sm-offset-3
      %p= f.submit "Edit fields &rarr;".html_safe, :class => "btn btn-default", :name => "update_and_next"
      %p= link_to "Back to swarm", @swarm



