- content_for :pagetitle do
  Edit fields for '#{@swarm.name}' : Swarms : 

.page-header.swarmize-header
  %h1 Fields for '#{@swarm.name}'
  %p= link_to "Back to swarm", @swarm

%ul.nav.nav-tabs.swarmbuilder-nav.nav-justified
  %li
    %a{:href => edit_swarm_path(@swarm)}
      = glyphicon('pencil')
      Swarm Details
  %li.active
    %a{:href => fields_swarm_path(@swarm)}
      = glyphicon('list')
      Swarm Fields
  %li
    %a{:href => preview_swarm_path(@swarm)}
      = glyphicon('list-alt')
      Preview Swarm

:javascript
  $(document).ready(function() {
    PaletteField.setupDraggable();
    FormElement.setupDraggableFields();
    FieldWorkspace.setupDragDrop();
  });

.row
  .col-sm-3
    .fields-palette
      %h3 Field Palette
      - if @swarm.has_opened?
        %p This swarm has opened; it cannot have fields added to it.
      - else
        - FieldDescription.all.each do |field_type, field_description|
          .field{id: "#{field_type}_dragger"}= field_description.display_name

  .col-sm-9
    = form_tag update_fields_swarm_path(@swarm), :class => "form-horizontal" do
      #workspace
        - if @swarm.swarm_fields.any?
          - @swarm.swarm_fields.each do |f|
            = render "form_partials/edit_field_partial", field: f, :field_type => f.field_type, field_description: FieldDescription.find(f.field_type)
      %p
        = submit_tag "&larr; Swarm details".html_safe, :class => "btn btn-default", :name => 'update_and_back'
        = submit_tag "Preview Swarm &rarr;".html_safe, :class => "btn btn-default", :name => 'update_and_next'
      %p= link_to "Back to swarm", @swarm


-#This just sets up our templates
- FieldDescription.all.each do |field_type, description|
  %script{type: 'text/template', id: "#{field_type}_template"}
    = render "form_partials/edit_field_partial", field: SwarmField.new, field_type: field_type, field_description: description

