%h1 Fields for #{@swarm.name}

%ul.nav.nav-tabs.swarmbuilder-nav.nav-justified
  %li= link_to "Swarm Details", edit_swarm_path(@swarm)
  %li.active= link_to "Swarm Fields", fields_swarm_path(@swarm)
  %li= link_to "Preview Swarm", preview_swarm_path(@swarm)


:javascript
  $(document).ready(function() {
    // set up draggable for field palette
    $('.fields-palette .field').attr('draggable', 'true');
    $('.fields-palette .field').attr('ondragstart', 'PaletteField.onDragPaletteStart(event)');
    $('.fields-palette .field').attr('ondragend', 'PaletteField.onDragPaletteEnd(event)');

    // set up droppable for workspace

    $('#workspace').attr('ondragenter', 'FieldWorkspace.onDragEnterWorkspace(event)');
    $('#workspace').attr('ondragover', 'FieldWorkspace.onDragOverWorkspace(event)');
    $('#workspace').attr('ondragleave', 'FieldWorkspace.onDragLeaveWorkspace(event)');
    $('#workspace').attr('ondragend', 'FieldWorkspace.onDragEndWorkspace(event)');
    $('#workspace').attr('ondrop', 'FieldWorkspace.onDropWorkspace(event)');

    FieldWorkspace.bindLinks();
    FieldWorkspace.reindexFormElements();

    $('.fields-palette').affix({
      offset: {
        top: 69
      }
    });

  });

.row
  .col-sm-3
    .fields-palette
      %h3 Field Palette
      - FieldDescription.all.each do |field|
        .field{id: "#{field.field_type}_dragger"}= field.display_name

  .col-sm-9
    = form_tag update_fields_swarm_path(@swarm), :class => "form-horizontal" do
      #workspace
        - if @swarm.fields
          - @swarm.fields.each do |field|
            = render "form_partials/edit_field_partial", field: Field.from_hash(field), field_description: FieldDescription.find(Field.from_hash(field).field_type)
      %p
        = submit_tag "&larr; Swarm details".html_safe, :class => "btn btn-default", :name => 'update_and_back'
        = submit_tag "Preview Swarm &rarr;".html_safe, :class => "btn btn-default", :name => 'update_and_next'
      %p= link_to "Back to swarm", @swarm


-#This just sets up our templates
- FieldDescription.all.each do |field_description|
  %script{type: 'text/template', id: "#{field_description.field_type}_template"}
    = render "form_partials/edit_field_partial", field: Hashie::Mash.new({}), field_description: field_description

