%h1 Fields for #{@swarm.name}

:javascript
  $(document).ready(function() {
    // set up draggable for field palette
    $('.fields-palette .field').attr('draggable', 'true');
    $('.fields-palette .field').attr('ondragstart', 'PaletteField.onDragPaletteStart(event)');
    $('.fields-palette .field').attr('ondragend', 'PaletteField.onDragPaletteEnd(event)');

    // set up droppable for workspace

    $('#workspace').attr('ondragenter', 'FieldWorkspace.onDragEnterWorkspace(event)');
    $('#workspace').attr('ondragover', 'FieldWorkspace.onDragOverWorkspace(event)');
    $('#workspace').attr('ondragleave', 'FieldWorkspace.onDragLeaveWorkspace(event)');
    $('#workspace').attr('ondragend', 'FieldWorkspace.onDragEndWorkspace(event)');
    $('#workspace').attr('ondrop', 'FieldWorkspace.onDropWorkspace(event)');

    FieldWorkspace.bindLinks();
    FieldWorkspace.reindexFormElements();

  });

.row
  .col-sm-3
    .fields-palette
      %h3 Field Palette
      - FormBuilderField::ALL.each do |field,text|
        .field{id: "#{field}_dragger"}= text

  .col-sm-9
    = form_tag update_fields_swarm_path(@swarm), :class => "form-horizontal" do
      #workspace
        - if @swarm.fields
          - @swarm.fields.each do |field|
            = render "form_partials/#{field['field_type']}", field: Field.from_hash(field)
      = submit_tag "Save fields", :class => "btn btn-default"


-#This just sets up our templates
- FormBuilderField::ALL.each do |field,text|
  %script{type: 'text/template', id: "#{field}_template"}
    = render "form_partials/#{field}", field: Field.null_field

