%h1 Fields for #{@swarm.name}

:javascript
  $(document).ready(function() {
    // set up draggable for field palette
    $('.fields-palette .field').attr('draggable', 'true');
    $('.fields-palette .field').attr('ondragstart', 'onDragPaletteStart(event)');
    $('.fields-palette .field').attr('ondragend', 'onDragPaletteEnd(event)');

    // set up droppable for workspace

    $('#workspace').attr('ondragover', 'onDragOverWorkspace(event)');
    $('#workspace').attr('ondragleave', 'onDragLeaveWorkspace(event)');
    $('#workspace').attr('ondragend', 'onDragEndWorkspace(event)');
    $('#workspace').attr('ondrop', 'onDropWorkspace(event)');

    bindLinks();
  });

  function onDragPaletteStart(event) {
    var type = $(event.toElement).attr('id').replace("_dragger", "");
    event.dataTransfer.setData('text/plain', type);
    window.beingDragged = type;
  }

  function onDragPaletteEnd(event) {
    $('.hover').removeClass('hover');
    window.beingDragged = null;
  }

  function onDragOverWorkspace(event) {
    var type = window.beingDragged;
    var index = getIndexForEvent(event);
    var newElement = "<div class='form-element temp'>" + type + "</div>";
    $(".temp").remove();
    if($('.form-element').length > 0) {
      if(index == 0) {
        $(".form-element:eq(0)").before(newElement);
      } else {
        $(".form-element:eq(" + (index-1) + ")").after(newElement);
      }
    } else {
      $("#workspace form").append(newElement);
    }
    $("#workspace").addClass('hover');
    event.preventDefault(); 
  }

  function onDragLeaveWorkspace(event) {
    $("#workspace").removeClass('hover')
    $(".temp").remove();
  }

  function onDragEndWorkspace(event) {
    $(this).removeClass('hover');
  }

  function onDropWorkspace(event) {
    index = getIndexForEvent(event);
    var type = event.dataTransfer.getData('text/plain');
    var template = _.template( $('#' + type + '_template').html(), {} );
    $('.temp').remove();
    if($('.form-element').length > 0) {
      $('.form-element:eq(' + (index-1) + ")").after(template);
    } else {
      $('#workspace form').append(template);
    }
    bindLinks();
    event.preventDefault();
  }

  function getIndexForEvent(event) {
    var middles = _.map($(".form-element"), function(o) { 
      var top = $(o).offset().top;
      var mid = top + ($(o).height() / 2);
      return mid;
    });
    var data = event.dataTransfer.getData("text/plain");

    var index = 0;
    _.each(middles, function(t) {
      if(event.clientY > t) {
        index++;
      }
    });
    return index;
  }

  function bindLinks() {
    $("#workspace form a.close-this-element").unbind();
    $("#workspace form a.close-this-element").click(function(e) {
      $(this).parents(".form-element").remove();
      return false;
    });
  }

.row
  .col-sm-3
    .fields-palette
      %h3 Field Palette
      - %w{text bigtext address city state county country email number pick_one pick_several rating yesno checkbox}.each do |field|
        .field{id: "#{field}_dragger"}= field.capitalize

  .col-sm-9#workspace
    = form_tag "/", :class => "form-horizontal" do |f|
      -#- %w{text bigtext address city state county country email number pick_one pick_several rating yesno checkbox}.each do |field|
        -#= render partial: "form_partials/#{field}"

-#This just sets up our templates
- %w{text bigtext address city state county country email number pick_one pick_several rating yesno checkbox}.each do |field|
  %script{type: 'text/template', id: "#{field}_template"}
    = render partial: "form_partials/#{field}"

