%h1 All Swarms

%p This page lists all swarms

%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Created by
      %th Opens At
      %th Closes At
      %th Actions

  %tbody
    - for swarm in @swarms
      %tr
        %td= link_to swarm.name, swarm
        %td= swarm.description
        %td= link_to swarm.user.name, user_path(swarm.user)
        %td= swarm.opens_at
        %td= swarm.closes_at
        %td
          = link_to "Delete", delete_swarm_path(swarm)
          |
          = link_to "JSON", swarm_path(swarm, :format => 'json')

= will_paginate @swarms, :renderer => BootstrapPagination::Rails

- if @current_user
  %p= link_to "New swarm", new_swarm_path
