%h1 All Swarms

%p This page lists all swarms

%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Opens At
      %th Closes At
      %th Actions

  %tbody
    - for swarm in @swarms
      %tr
        %td= swarm.name
        %td= swarm.description
        %td= swarm.opens_at
        %td= swarm.closes_at
        %td
          = link_to "Edit", edit_swarm_path(swarm)
          |
          = link_to "Delete", delete_swarm_path(swarm)

%p= link_to "New swarm", new_swarm_path
