- content_for :pagetitle do
  New Swarm : Swarms :

.page-header.swarmize-header
  %h1 Create Swarm

%ul.nav.nav-tabs.swarmbuilder-nav.nav-justified
  %li.disabled.active
    %a{:href => new_swarm_path}
      = glyphicon('pencil')
      Swarm Details
  %li.disabled
    %a{:href => '#'}
      = glyphicon('list')
      Swarm Fields
  %li.disabled
    %a{:href => '#'}
      = glyphicon('list-alt')
      Preview Swarm

= form_for @swarm, :html => {:class => "form-horizontal"} do |f|
  .form-group
    %label.col-sm-3.control-label Swarm name
    .col-sm-6
      = f.text_field :name, :class => 'form-control'
      %span.help-block This is the public name your swarm will be known by. This will be used across Swarmize.com, even if you don't display it with the input for your Swarm.

  .form-group
    %label.col-sm-3.control-label Swarm description
    .col-sm-6
      = f.text_area :description, :class => 'form-control'
      %span.help-block A short description of your Swarm. This will be used across Swarmize.com, even if you don't display it with the input for your Swarm.

  .form-group
    .col-sm-offset-3
      %p= f.submit "Add fields &rarr;".html_safe, :class => "btn btn-default"
      %p= link_to "Back to all swarms", swarms_path
