- content_for :pagetitle do
  Preview '#{@swarm.name}' : Swarms : 

.page-header.swarmize-header
  %h1 Preview '#{@swarm.name}'
  %p= link_to "Back to swarm", @swarm

%ul.nav.nav-tabs.swarmbuilder-nav.nav-justified
  %li
    %a{:href => edit_swarm_path(@swarm)}
      = glyphicon('pencil')
      Swarm Details
  %li
    %a{:href => fields_swarm_path(@swarm)}
      = glyphicon('list')
      Swarm Fields
  %li.active
    %a{:href => preview_swarm_path(@swarm)}
      = glyphicon('list-alt')
      Preview Swarm

%iframe{:src => embed_swarm_path(@swarm), :width => 460, :height => @swarm.estimate_form_height, 'frameBorder' => 0, :seamless => 'seamless', :style => 'border: 1px solid #ddd;'}
  

%p
  = link_to "&larr; Alter fields".html_safe, fields_swarm_path(@swarm), :class => "btn btn-default"
  = link_to "Done!", @swarm, :class => "btn btn-default"

%p= link_to "Back to swarm", @swarm
