- content_for :pagetitle do
  Preview '#{@swarm.name}' : Swarms : 

.page-header.swarmize-header
  %h1 Preview '#{@swarm.name}'
  %p= link_to "Back to swarm", @swarm

%ul.nav.nav-tabs.swarmbuilder-nav.nav-justified
  %li
    %a{:href => edit_swarm_path(@swarm)}
      = glyphicon('pencil')
      Swarm Details
  %li
    %a{:href => fields_swarm_path(@swarm)}
      = glyphicon('list')
      Swarm Fields
  %li.active
    %a{:href => preview_swarm_path(@swarm)}
      = glyphicon('list-alt')
      Preview Swarm

%script{type: 'text/javascript', src: asset_url('swarmize-embed.js')}
#swarmize-embedded-form{"data-swarmize-token" => @swarm.token}
  = link_to "Fill out your answers on swarmize.com", embed_swarm_path(@swarm)

%p
  = link_to "&larr; Alter fields".html_safe, fields_swarm_path(@swarm), :class => "btn btn-default"
  = link_to "Done!", @swarm, :class => "btn btn-default"

%p= link_to "Back to swarm", @swarm
