%h1 Previewing #{@swarm.name}

.embeddable-swarm
  = form_tag '#' do
    - @swarm.fields.each do |field|
      - if FieldDescription.has_custom_display?(Field.from_hash(field).field_type)
        = render "form_partials/#{Field.from_hash(field).field_type}_display_field_partial", field: Field.from_hash(field), field_description: FieldDescription.find(Field.from_hash(field).field_type)
      - else
        = render "form_partials/display_field_partial", field: Field.from_hash(field), field_description: FieldDescription.find(Field.from_hash(field).field_type)
    %p
      = submit_tag "Submit", :class => "btn btn-default"
      = link_to "Alter fields", fields_swarm_path(@swarm)
      |
      = link_to "Back to swarms", swarms_path
