= render :partial => "swarms/swarm_page_js"

= render :partial => "swarms/swarm_header"
- if @swarm.user == @current_user
  = render :partial => "swarms/swarm_description_open_close_logged_in"
- else
  = render :partial => "swarms/swarm_description_open_close"

%hr

%h2 Results
- if @connection_error
  %p There was an error connecting to Elasticsearch, and results cannot be shown.
- elsif @not_found
  %p There are no results in Elasticsearch yet.
- else
  = render :partial => "swarms/swarm_results"

= render "swarms/open_swarm_modal"
= render "swarms/close_swarm_modal"
