= render :partial => "swarms/swarm_page_js"

= render :partial => "swarms/swarm_header"
- if @swarm.user == @current_user
  = render :partial => "swarms/swarm_description_open_close_logged_in"
- else
  = render :partial => "swarms/swarm_description_open_close"

%hr

%h2 
  Results
  = link_to "CSV", csv_swarm_path(@swarm), :class => "btn btn-default", :style => 'float: right'

.clear

- if @swarm.closed? || @current_user
  - if @elasticsearch_error
    %p= @elasticsearch_error
  - else
    = render :partial => "swarms/swarm_results"
- else
  %p Results will appear here when the swarm is complete.

= render "swarms/open_swarm_modal"
= render "swarms/close_swarm_modal"
