- content_for :pagetitle do
  '#{@swarm.name}' : Swarms : 

= render :partial => "swarms/swarm_page_js"

= render :partial => "swarms/swarm_header"

- if AccessPermission.can_alter?(@swarm, @current_user)
  = render :partial => "swarms/swarm_description_open_close_logged_in"
- else
  = render :partial => "swarms/swarm_description_open_close"

%hr

- if (@swarm.closed? || @current_user) && !@elasticsearch_error
  -if @swarm.graphs.any?
    :javascript
      window.graphDataCache = {};
    = render "swarms/swarm_graphs"
  -elsif AccessPermission.can_alter?(@swarm, @current_user)
    %h2 Graphs

  - if AccessPermission.can_alter?(@swarm, @current_user)
    %p= link_to "Manage swarm graphs", swarm_graphs_path(@swarm)

- if @swarm.closed? || @current_user
  %h2 
    %hr.divider
    Results
    - if @current_user
      %a.btn.btn-default{:href => csv_swarm_path(@swarm), :style => "float:right"}
        = glyphicon('file')
        CSV
    - else
      = link_to "CSV", public_csv_swarm_path(@swarm), :class => "btn btn-default", :style => 'float: right'

  .clearfix

  - if @elasticsearch_error
    %p= @elasticsearch_error
  - else
    = render :partial => "swarms/swarm_results"
- else
  %hr.divider
  %h2 Results
  %p Results will appear here when the swarm is complete.

= render "swarms/open_swarm_modal"
= render "swarms/close_swarm_modal"
