= render :partial => "swarms/swarm_page_js"

= render :partial => "swarms/swarm_header"
= render :partial => "swarms/swarm_description_open_close"

%hr

- if @swarm.closed?
  %h2 Results
  = render :partial => "swarms/swarm_results"
- else
  %h2 Results
  %p Results for this swarm will be available when it's over.

= render "swarms/open_swarm_modal"
= render "swarms/close_swarm_modal"
