- content_for :pagetitle do
  Spike Swarm '#{@swarm.name}'? : Swarms : 

.page-header.swarmize-header
  %h1 
    Spike swarm '#{@swarm.name}'?
  %p
    %a{:href => swarm_path(@swarm)}
      = glyphicon('circle-arrow-left')
      Back to swarm

%p Are you sure you want to spike this swarm?

%p
  = button_to "Spike", do_spike_swarm_path(@swarm), :class => "btn btn-default"
  or
  = link_to "Return to swarm", swarm_path(@swarm)
