- content_for :pagetitle do
  Permissions for '#{@swarm.name}'? : Swarms : 

.page-header.swarmize-header
  %h1 
    Users with permissions on '#{@swarm.name}'
  %p
    %a{:href => swarm_path(@swarm)}
      = glyphicon('circle-arrow-left')
      Back to swarm

- if AccessPermission.can_alter_permissions?(@swarm, @current_user)
  = render :partial => 'owner_permissions_page'
- else
  = render :partial => 'logged_out_permissions_page'

