.form-element{:class => form_builder_field.field_type}
  .header
    %h2= form_builder_field.display_name
    = render :partial => "form_partials/element_controls"

    = hidden_field_tag "fields[][index]", field['index'], :class => 'form-control', :id => "index"
    = hidden_field_tag "fields[][field_type]", form_builder_field.field_type, :class => 'form-control'

  .form-group
    %label.col-sm-3.control-label Field name
    .col-sm-9
      = text_field_tag "fields[][field_name]", field.field_name, :class => 'form-control'

  - if form_builder_field.has_sample
    .form-group
      %label.col-sm-3.control-label Sample value
      .col-sm-9
        = text_field_tag "fields[][sample_value]", field.sample_value, :class => 'form-control'

  - if form_builder_field.has_possible_values
    .form-group
      %label.col-sm-3.control-label Possible values
      .col-sm-9
        .option-list
          - if field.possible_values
            - field.possible_values.each_with_index do |value, i|
              %p{:class => ('input-group' if i > 1)}
                = text_field_tag "fields[]possible_values[]", value, :class => 'form-control'
                - if i > 1
                  %span{:class => "input-group-addon"}
                    %a.remove-option{:href => "#"}
                      %span{:class => 'glyphicon glyphicon-remove'}
          - else
            %p
              = text_field_tag "fields[]possible_values[]", nil, :class => 'form-control'
            %p
              = text_field_tag "fields[]possible_values[]", nil, :class => 'form-control'
        %p= link_to "Add another", "#", :class => "add-option"

  - if form_builder_field.custom_fields
    - form_builder_field.custom_fields.each do |custom_field|
      .form-group
        %label.col-sm-3.control-label= custom_field.display_name
        .col-sm-9
          = text_field_tag "fields[][#{custom_field.field_type}]", field.send(custom_field.field_type), :class => 'form-control'

  .form-group
    %label.col-sm-3.control-label Compulsory?
    .col-sm-9
      = check_box_tag "fields[][compulsory]", field.compulsory, :class => 'form-control'

