.form-element.pick_one
  .header
    %h2 Pick One
    = render :partial => "form_partials/element_controls"

  .form-group
    %label.col-sm-3.control-label Field name
    .col-sm-9
      = text_field_tag :field_name, nil, :class => 'form-control'

  .form-group
    %label.col-sm-3.control-label Possible values
    .col-sm-9
      %p
        = text_field_tag :field_name, nil, :class => 'form-control'
      %p
        = text_field_tag :field_name, nil, :class => 'form-control'
      %p.input-group
        = text_field_tag :field_name, nil, :class => 'form-control'
        %span{:class => "input-group-addon"}
          %a{:href => "#"}
            %span{:class => 'glyphicon glyphicon-remove'}
      %p= link_to "Add another", "#"

  .form-group
    %label.col-sm-3.control-label Compulsory?
    .col-sm-9
      = check_box_tag :compulsory, nil, :class => 'form-control'

  .form-group
    %label.col-sm-3.control-label Index
    .col-sm-9
      = text_field_tag :index, nil, :class => 'form-control'

  .form-group
    %label.col-sm-3.control-label Field type
    .col-sm-9
      = text_field_tag :field_type, 'pick_one', :class => 'form-control'
