.form_group{:id => "group_#{field.field_code}"}
  %label= field.field_name
  - field.possible_values.each_with_index do |value, index|
    .radio
      %label
        = radio_button_tag field.field_code, value.parameterize.underscore, false, parsley_validations_for_field(field)
        = value
  .parsley-errors{:id => "errors_#{field.field_code}"}