.form-element.text
  .header
    %h2 Text
    = render :partial => "form_partials/element_controls"

  .form-group
    %label.col-sm-3.control-label Field name
    .col-sm-9
      = text_field_tag :field_name, nil, :class => 'form-control'

  .form-group
    %label.col-sm-3.control-label Sample value
    .col-sm-9
      = text_field_tag :sample_value, nil, :class => 'form-control'

  .form-group
    %label.col-sm-3.control-label Compulsory?
    .col-sm-9
      = check_box_tag :compulsory, nil, :class => 'form-control'

  .form-group
    %label.col-sm-3.control-label Index
    .col-sm-9
      = text_field_tag :index, nil, :class => 'form-control'

  .form-group
    %label.col-sm-3.control-label Field type
    .col-sm-9
      = text_field_tag :field_type, 'postcode', :class => 'form-control'
