- content_for :pagetitle do
  API Tokens for #{@swarm.name} : 

.page-header.swarmize-header
  %h1 API Tokens for #{@swarm.name}

%table.table
  %thead
    %tr
      %th Token
      %th Created By
      %th Created At
      %th Action
  %tbody
    - if @swarm.api_tokens
      - @swarm.api_tokens.each do |token|
        %tr
          %td= token['api_token']
          %td= token['created_by'].name
          %td= token['created_at']
          %td= link_to 'Revoke access', swarm_api_token_path(@swarm, token['api_token']), :confirm => 'Are you sure?', :method => :delete

%p= button_to "Create Token", swarm_api_tokens_path(@swarm), :class => "btn btn-default"
