.row
  .col-sm-6
    %p Swarmize is a data journalism platform.  It helps editors collect, analyze and output information.  
    
    %p News teams can create simple surveys in minutes or build engaging interactives and custom data collectors with front-end developers using the Swarmize toolchain.  The platform includes a survey wizard, embeddable web forms, dashboards and charts, CSV outputs and developer-friendly APIs optimized for high volume, fast-paced news organizations such as theguardian.com. 
    
    %p Swarmize does the heavy lifting behind the scenes and makes it easy to deploy and manage data journalism projects quickly and cheaply. 

    .panel.panel-default
      .panel-heading
        %h3.panel-title Project Status
      .panel-body
        %p 
          %b Swarmize is currently in alpha. 
          The platform is accessible for use by theguardian.com only, but the code is available for download and reuse with an open license on 
          #{link_to "GitHub", "https://github.com/guardian/swarmize"}.
        %p 
          The project was funded by a grant from the Knight New Challenge and also supported by The Guardian. The developers are 
          #{link_to "Tom Armitage", "mailto:tom@tomarmitage.com"}
          and 
          #{link_to "Graham Tackley", "mailto:graham.tackley@theguardian.com"}.
          If you would like to discuss working on the project together please contact 
          #{link_to "Matt McAlister", "mailto:matt.mcalister@theguardian.com"}.
  .col-sm-6
    %h2{style: 'margin-top: 0;'} A bit about you
    <script type='text/javascript' src='//cdn.swarmize.com/js/swarmize-embed.js'></script><div id='swarmize-embedded-form' data-swarmize-token='brwcemjh'><a href='http://alpha.swarmize.com/swarms/brwcemjh/embed'>Fill out your answers on swarmize.com</a></div>
%hr

%h2 Case studies

= render :partial => "case_studies/list"

