.panel.panel-default
  .panel-heading
    %h3.panel-title Alpha Feedback
  .panel-body
    %p 
      %b Swarmize is currently in alpha.
      Please send feedback or suggestions to the Swarmize team:
      #{link_to "Matt McAlister", "mailto:matt.mcalister@theguardian.com"}, 
      #{link_to "Graham Tackley", "mailto:graham.tackley@theguardian.com"}, and
      #{link_to "Tom Armitage", "mailto:tom@tomarmitage.com"}.

%ul.nav.nav-tabs{:role => 'tablist'}
  %li.active= link_to "All Swarms", "#all", "data-toggle" => 'tab'
  %li= link_to "My Swarms", "#mine", "data-toggle" => 'tab'

.tab-content
  #all.tab-pane.active
    %h2 Swarms In Progress

    = render :partial => "swarms/swarm_table", :locals => {:swarms => @swarms_in_progress}

    %h2 Latest complete swarms

    = render :partial => "swarms/swarm_table", :locals => {:swarms => @latest_complete_swarms}

    %p= link_to "View all swarms", swarms_path


  #mine.tab-pane
    %h2 My Draft Swarms
    = render :partial => "swarms/swarm_table", :locals => {:swarms => @user_swarms_draft}

    %h2 My Swarms In Progress
    = render :partial => "swarms/swarm_table", :locals => {:swarms => @user_swarms_in_progress}

    %h2 My Latest Completed Swarms
    = render :partial => "swarms/swarm_table", :locals => {:swarms => @user_completed_swarms}

    %p= link_to "View all my swarms", user_path(@current_user)
