= render :partial => 'home/project_status'

%a.btn.btn-default{href: new_swarm_path, style: 'float:right;'}
  = glyphicon('plus')
  Create A Swarm

%ul.nav.nav-tabs{:role => 'tablist'}
  %li.active= link_to "All Swarms", "#all", "data-toggle" => 'tab'
  %li= link_to "My Swarms", "#mine", "data-toggle" => 'tab'

.tab-content
  #all.tab-pane.active
    %h2 Latest Swarms In Progress

    = render :partial => "swarms/swarm_table", :locals => {:swarms => @swarms_in_progress}

    %h2 Latest complete swarms

    = render :partial => "swarms/swarm_table", :locals => {:swarms => @latest_complete_swarms}

    %p= link_to "Explor all swarms", swarms_path


  #mine.tab-pane
    %h2 My Latest Draft Swarms
    = render :partial => "swarms/swarm_table", :locals => {:swarms => @user_swarms_draft}

    %h2 My Latest Swarms In Progress
    = render :partial => "swarms/swarm_table", :locals => {:swarms => @user_swarms_in_progress}

    %h2 My Latest Completed Swarms
    = render :partial => "swarms/swarm_table", :locals => {:swarms => @user_completed_swarms}

    %p= link_to "View all my swarms", user_path(@current_user)
